/* Basic reset to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #3f3f42;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header styling */
h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Navigation links styling */
a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

a:visited {
    color: crimson;
}

a:hover {
    text-decoration: underline;
}

/* Form styling */
form {
    background: #000000;
    color: white;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #5a5a5e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #cbc7dc;
}



#paragraphs {
    border-style: solid;
    width: 70%;
    margin: 3px auto;
}

.paragraph-editor-text-ui {
    padding: 50px;
    margin: 5px;
    width: 60%;
    height: 800px;

}

.paragraph-edit-textbook {
    background-color: #f3dada;
    resize: none;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
