<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit paragraph ' + ${paragraph.type}">Edit paragraph</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/article.js" defer></script> <!-- Include your JS file here -->
</head>
<body>
    <h3 th:text="${paragraph.type}">Paragraph</h3>
    <div class="paragraph-editor-text-ui">
        <textarea id="editParagraphInput" class="paragraph-edit-textbook">
            <th:block th:text="${paragraph.content}"></th:block>
        </textarea>
    </div>
    <button type="button" class="save-button" th:attr="onclick='saveParagraph(' + ${articleId}
     + ',' + ${paragraph.id} + ')'">
        Save
    </button>

</body>
</html>