<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Welcome, <span th:text="${username}">User</span>!</h1>
<form action="/createNewArticle" method="post">
    <label for="title"> Enter Title </label>
    <input type="text" id = "title" name="title">
    <input type="hidden" id = "user_id" name="user_id" th:value="${id}">
    <button type="submit"> Create New Article</button>
</form>
</body>
</html>